<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{{ project_name() }} | {% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ get_favico() }}" />
</head>
<body class=" {% block body_class %}{% endblock %}">
    {% block content %}{% endblock %}
    {% block bottom %}{% endblock %}
</body>
</html>