<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">{{ "pages.dashboard.who_is_online" | trans }}</h3>
                <div class="box-tools pull-right">
                </div>
            </div>
            <div class="row">
                {% for user in activeUsers %}
                    <div class="col-md-1">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        {{ user.username }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
</div>