@font-face {
  font-family: 'iconfont';
  src:
    url('fonts/iconfont.ttf?w28rlm') format('truetype'),
    url('fonts/iconfont.woff?w28rlm') format('woff'),
    url('fonts/iconfont.svg?w28rlm#iconfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="iconfont-"], [class*=" iconfont-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfont-user-b:before {
  content: "\e939";
}
.iconfont-envelope-a:before {
  content: "\e93a";
}
.iconfont-building-a:before {
  content: "\e93b";
}
.iconfont-globe-a:before {
  content: "\e93c";
}
.iconfont-mobile-phone-a:before {
  content: "\e93d";
}
.iconfont-star-a:before {
  content: "\e945";
}
.iconfont-account:before {
  content: "\e946";
}
.iconfont-currency-usd:before {
  content: "\e947";
}
.iconfont-dashboard:before {
  content: "\e948";
}
.iconfont-arrow-right:before {
  content: "\e944";
}
.iconfont-building-b:before {
  content: "\e942";
}
.iconfont-coin:before {
  content: "\e943";
}
.iconfont-building:before {
  content: "\e93e";
}
.iconfont-globe:before {
  content: "\e93f";
}
.iconfont-mobile-phone:before {
  content: "\e940";
}
.iconfont-user-a:before {
  content: "\e941";
}
.iconfont-star:before {
  content: "\e938";
}
.iconfont-bookmark-a:before {
  content: "\e937";
}
.iconfont-bookmark:before {
  content: "\e936";
}
.iconfont-filter:before {
  content: "\e935";
}
.iconfont-check-mark:before {
  content: "\e933";
}
.iconfont-warning:before {
  content: "\e934";
}
.iconfont-undo-a:before {
  content: "\e932";
}
.iconfont-undo:before {
  content: "\e931";
}
.iconfont-restore-a:before {
  content: "\e92f";
}
.iconfont-restore:before {
  content: "\e930";
}
.iconfont-download:before {
  content: "\e92c";
}
.iconfont-move:before {
  content: "\e92d";
}
.iconfont-pencil:before {
  content: "\e92e";
}
.iconfont-task:before {
  content: "\e92b";
}
.iconfont-control-panel:before {
  content: "\e92a";
}
.iconfont-close:before {
  content: "\e929";
}
.iconfont-calendar:before {
  content: "\e925";
}
.iconfont-cloud-storage:before {
  content: "\e926";
}
.iconfont-layout:before {
  content: "\e927";
}
.iconfont-user-circle:before {
  content: "\e928";
}
.iconfont-arrow-circle-right:before {
  content: "\e924";
}
.iconfont-arrow-up:before {
  content: "\e923";
}
.iconfont-arrow-down:before {
  content: "\e920";
}
.iconfont-sort-down:before {
  content: "\e921";
}
.iconfont-sort-up:before {
  content: "\e922";
}
.iconfont-dots-h:before {
  content: "\e91e";
}
.iconfont-dots-v:before {
  content: "\e91f";
}
.iconfont-upload:before {
  content: "\e91c";
}
.iconfont-upload-a:before {
  content: "\e91d";
}
.iconfont-credit-card:before {
  content: "\e916";
}
.iconfont-log-out:before {
  content: "\e917";
}
.iconfont-map:before {
  content: "\e918";
}
.iconfont-plus-a:before {
  content: "\e919";
}
.iconfont-power-on-off:before {
  content: "\e91a";
}
.iconfont-user:before {
  content: "\e91b";
}
.iconfont-menu-a:before {
  content: "\e914";
}
.iconfont-menu-b:before {
  content: "\e915";
}
.iconfont-accounts:before {
  content: "\e900";
}
.iconfont-activity:before {
  content: "\e901";
}
.iconfont-bell:before {
  content: "\e902";
}
.iconfont-cart:before {
  content: "\e903";
}
.iconfont-deal:before {
  content: "\e904";
}
.iconfont-envelope:before {
  content: "\e905";
}
.iconfont-feed:before {
  content: "\e906";
}
.iconfont-folder:before {
  content: "\e907";
}
.iconfont-gear:before {
  content: "\e908";
}
.iconfont-handshake:before {
  content: "\e909";
}
.iconfont-home:before {
  content: "\e90a";
}
.iconfont-magnifier:before {
  content: "\e90b";
}
.iconfont-menu:before {
  content: "\e90c";
}
.iconfont-phone:before {
  content: "\e90d";
}
.iconfont-plus:before {
  content: "\e90e";
}
.iconfont-settings:before {
  content: "\e90f";
}
.iconfont-share:before {
  content: "\e910";
}
.iconfont-time:before {
  content: "\e911";
}
.iconfont-trash:before {
  content: "\e912";
}
.iconfont-users:before {
  content: "\e913";
}
