{% extends "AppBundle:themes/default/FOSUser:base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}

    <div class="col-md-12">
        <p style="padding-top: 160px; text-align:center;font-size:15px">
            {{ 'resetting.check_email'|trans({'%email%': email}, 'FOSUserBundle') }}
        </p>
    </div>
    <div class="col-md-6 col-md-offset-5">
        <img src="{{ asset('bundles/assets/themes/default/login/img/email.png') }}" alt="check-your-mail" style="height: 250px" />
    </div>
{% endblock %}