{% extends "AppBundle:themes/default/FOSUser:base.html.twig" %}

{% block body %}
    <div class="col-md-12">
        <p style="padding-top: 160px; text-align:center;font-size:15px">
            {{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}
        </p>
    </div>
{% endblock %}
