<div class="row">
    <div class="col-md-12">
        <pre style="text-align: left; padding-left: 2%; width: 100%; white-space: pre-wrap; word-break: normal !important; word-wrap: normal !important;"
             id="json-renderer-{{ entity.id }}">
            <script type="text/javascript">               
                var data = {                   
                    "stream": { 
                          "{{ entity.protocol }}": "{{ entity.live }}"
                    }
                };               
                $("#json-renderer-{{ entity.id }}").jsonViewer(data);
            </script>
        </pre>
    </div>
</div>
