{% extends 'AppBundle:themes/default/base-admin:base.html.twig' %}

{% block title %}{{ "pages.gateways.index.title" | trans }}{% endblock %}
{% block page_title %}{{ "pages.gateways.index.title" | trans }}{% endblock %}

{% block body -%}
    <h1>Gateways creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('gateways') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
