{% if app.session.flashBag.has('error') %}
    <div class="alert alert-error" style="padding: 3px 5px;text-align: center">
        <button style="padding-left: 10px" type="button" class="close" data-dismiss="alert">&times;</button>
        {% for msg in app.session.flashBag.get('error') %}
            {{ msg }}
        {% endfor %}
    </div>
{% endif %}